@{
    ViewData["Title"] = "Thanks";

}

<h1> Thanks for contact me</h1>
<p>I will response the message as soon as posible!</p>
<div><a asp-action="Contact" asp-asp-controller="Contact">Back to Home</a></div>
